html {
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  font-size: 1.5rem;
}
.book-container {
 /* display: inline-block;
  width: 200px;
  height: 320px;
  background-size: cover;
  margin: 10px;
  border-radius: 25px;
  vertical-align: top;
  position: relative;
  border:1px solid black;
  padding: 1rem;*/

  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 1rem;
  box-sizing: border-box;
  border: 2px solid #FFDDAA;
  border-radius: 20px;
  background-color: black;
  margin-bottom: 3px;
  cursor: pointer;
}

.book-title {
  color: white;
}


.cover-image {
  width: 250px;
  height: 320px;
  display: none;
}
.cover-image.active {
  display: block;
}

.description{
  display: none;
  color:white;
}

.description.active {
  display: block;
}

