html {
  background-color: #CCDDFF;
}


.header-list > li {display:inline-block;vertical-align:middle; color:#FF8888;}
.header-list > li:nth-child(1) {font-size:20px;width:200px;}
.header-list > li:nth-child(2) {width:calc(100% - 250px);}
.header-list > li:nth-child(3) {width:50px;}




input[id="menuicon"] {display:none;}
input[id="menuicon"] + label {display:block;position:relative;width:30%;height:30px;cursor:pointer;}
input[id="menuicon"] + label span {display:block;position:absolute;width:20%;height:3px;background:#FF8888;transition:all .35s;}
input[id="menuicon"] + label span:nth-child(1) {top:10%;}
input[id="menuicon"] + label span:nth-child(2) {top:50%;transform:translateY(-50%);} /* ºñ½ÁÇÏ°Ô »ç¿ëÇÒ ¼ö ÀÖ´Â style top:calc(50% - 2.5px); margin-top:-2.5px;*/
input[id="menuicon"] + label span:nth-child(3) {bottom:10%;}
input[id="menuicon"]:checked + label {z-index:2;}
input[id="menuicon"]:checked + label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);}
input[id="menuicon"]:checked + label span:nth-child(2) {opacity:0;}
input[id="menuicon"]:checked + label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);}
div[class="sidebar"] {width:100%;height:0px;background:#CCDDFF;position:fixed;top:0px;left:0;z-index:0;transition:all .35s;overflow:hidden;}
input[id="menuicon"]:checked + label + div {height:300px;}

.sitemap-ul {font-size:0;width:1200px;margin:15px auto;text-align:center;}
.sitemap-ul > li {font-size:15px;display:inline-block;vertical-align:top;width:20%;}



header {
  width:100%;
  background:#99BBFF;
}


.header-list {
  width:1100px;margin:0 auto;padding: 0;
}



a {
  text-decoration: underline;
  color: #5555FF;
}

a:hover {
  text-decoration: none;
  color: #FF8888;
}

b {
  color: #FF8888;
}


main {
  display:grid;
  grid-template-columns: 2fr 1fr ;
  grid-auto-rows:min-content;
  grid-gap:2rem;
  width: 55vw;
  margin: 0 auto;
}

.intro-block {
  grid-column:1 / 3;
}

.statement {
  grid-column:1 / 2;
}

.projects {
  grid-column:2 / 3;
}

.item {
  grid-column:1;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}

.definition {
  grid-column:2;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}



h1, h2, h3, h4, h5 {
  font-family: 'Merriweather Sans', sans-serif;
  margin-bottom:1rem;
}

h1 {
  font-size:3rem;
  font-weight:800;
}
h2 {
  font-size:2.25rem;
}
h3 {
  font-size:1.5rem;
  font-weight:300;

}
h4 {
  font-size:1rem;
}


li {
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  padding: .5rem 0;
  color: #5555FF;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom:1rem;
}

.location {
  font-size: 1rem;
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
  line-height: 1;
}
