
html {
  font-size: 1rem;
  font-family: 'Lora', serif;
  background-color: black;
  color:white;
}

body {
  padding-top:20px;
  color:#000;
}


.navigation {
    justify-content: center;
    margin-bottom: 30px;
}

.mood {
    text-decoration: underline;
    color: white;
    font-size:20px;
    font-family: 'Lora', serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    justify-content: center;
}

a{
  color:white;
}


#bestselling:hover{
  text-decoration: none;
  background-color: red;
}

#moodbooster:hover{
  text-decoration: none;
  background-color: orange;
}

#sad:hover{
  text-decoration: none;
  background-color: blue;
}

#summervibe:hover {
  text-decoration: none;
  background-color: pink;
}

    main {
        max-width:90em;
        margin:0 auto;
    }

.grid-set {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap:1.5rem;
  padding:50px 1rem;

}




h1, h2, h4, h5 {
  font-family: 'Lora', serif;
  margin-bottom:.5rem;
}

h1 {
  font-size:50px;
  text-align:center;
  font-style: italic;
  padding-bottom: 50px;
  font-family: 'Work Sans', sans-serif;
  line-height: 1;
  font-weight:700;
  padding-bottom:20px;
  color:white;
}

h2 {
  font-size:1.75rem;
}

h4 {
  font-size:1rem;
}


li {
  font-size: 1.25rem;
  font-family: 'Lora', serif;
  line-height: 1.5;
  padding: .5rem 0;
}



.mood{
  text-align: center;
}


p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom:1rem;
}



