
html {
  font-size: 1rem;
  font-family: 'Lora', serif;
  background-color: black;
}

body {
  padding-top:20px;
  color:#000;
}

a,b {
  text-decoration: underline;
  color: white;
}

a:hover {
  text-decoration: none;
  color: red;
}

b:hover {
  text-decoration: none;
  color: blue;
}

    main {
        max-width:90em;
        margin:0 auto;
    }

.grid-set {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap:1.5rem;
  padding:0 1rem;
}

.grid-set2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap:1.5rem;
  padding:0 1rem;
}




h1, h2, h3, h4, h5 {
  font-family: 'Lora', serif;
  margin-bottom:.5rem;
}

h1 {
  font-size:50px;
  text-align:center;
  font-style: italic;
  padding-bottom: 50px;
  font-family: 'Work Sans', sans-serif;
  line-height: 1;
  font-weight:700;
  padding-bottom:20px;
  color:white;
}

h2 {
  font-size:1.75rem;
}

h3 {
  font-size:1.5rem;
  font-weight:400;

}
h4 {
  font-size:1rem;
}


li {
  font-size: 1.25rem;
  font-family: 'Lora', serif;
  line-height: 1.5;
  padding: .5rem 0;
}



.mood{
  text-align: center;
}


p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom:1rem;
}



