body{
	background-color:black;
	font-family: hero-new, sans-serif;
	font-style: normal;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 250px 250px 60px;
  grid-gap: 10px 10px;
  grid-template-areas:
    ". . . ."
    ". . . .";
}


.box1{
	grid-column: 1;
    grid-row: 2;
    color: white;
    border:5px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box:hover{
	border:5px solid #FFDFAC;
}


.box2{
	grid-column: 2;
	grid-row:2;
	color:white;
	font-size:50px;
    border: 5px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box3{
	grid-column: 3;
	grid-row:2;
	color:white;
	font-size:50px;
    border: 5px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box4{
	grid-column: 4;
	grid-row:2;
	color:white;
	font-size:50px; 
    border: 5px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box5{
	grid-column: 1;
	grid-row:3;
	color:white;
	font-size:50px;
    border: 5px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box6{
	grid-column: 2;
	grid-row:3;
	color:white;
	font-size:50px;
    border: 5px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box7{
	grid-column: 3;
	grid-row:3;
	color:white;
	font-size:50px;
    border: 5px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box8{
	grid-column: 4;
	grid-row:3;
	color:white;
	font-size:50px;
    border: 5px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
}



h1{

	color:white;
	font-size: 80px;
    text-align: center;

}


.title1{
	grid-column: 1;
    grid-row: 1;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align:center;
}

.title2{
	grid-column: 2;
    grid-row: 1;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align:center;
}

.title3{
	grid-column: 3;
    grid-row: 1;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align:center;
}
.title4{
	grid-column: 4;
    grid-row: 1;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align:center;
}

.footer{
	grid-column: 4;
    grid-row: 4;
    color: white;
    font-size: 15px;
    text-align:right;
}

a {
	font-family: hero-new, sans-serif;
	font-style: normal;
	color:#FFDFAC;
	text-decoration: none;
}
