body{
	background-color: #FFF5E5;
	
}

.grid-container {
  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-template-rows: 100px auto 100px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}

h1 {
	font-family: hero-new, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 54px;
	text-align:center;
}
.content {
    grid-column: 2;
    grid-row: 2;
    line-height: 25px;
    font-size:18px;
}


#Question_mark {
	width: 150px;
 	height:150px;
    align-self: center;
}
.channel {
    position: fixed;
    width: 800px;
    left: 100px;
    top: 0;
    bottom: 0;
    height: 100%;
}
.channel-child1 {
    height: 100%;
    position: fixed;
    left: 120px;
    height: 100%;
    animation: moveDown 5s 0.5s infinite;
}
.channel-child2 {
    height: 100%;
    position: fixed;
    left: 200px;
    height: 100%;
    animation: moveDown 10s 0.5s infinite;
}
.channel-child3 {
    height: 100%;
    position: fixed;
    left: 330px;
    height: 100%;
    animation: moveDown 15s 0.5s infinite;
}

.channel-child4 {
    height: 100%;
    position: fixed;
    left: 500px;
    height: 100%;
    animation: moveDown 12s 0.5s infinite;
}

.channel-child5 {
    height: 100%;
    position: fixed;
    left: 700px;
    height: 100%;
    animation: moveDown 3s 0.5s infinite;
}

.channel-child6 {
    height: 100%;
    position: fixed;
    left: 300px;
    height: 100%;
    animation: moveDown 4s 0.5s infinite;
}

.channel-child7 {
    height: 100%;
    position: fixed;
    right: 200px;
    height: 100%;
    animation: moveDown 13s 0.5s infinite;
}

.channel-child8 {
    height: 100%;
    position: fixed;
    right: 150px;
    height: 100%;
    animation: moveDown 6s 0.5s infinite;
}

.channel-child9 {
    height: 100%;
    position: fixed;
    right: 240px;
    height: 100%;
    animation: moveDown 9s 0.5s infinite;
}

.channel-child10 {
    height: 100%;
    position: fixed;
    right: 400px;
    height: 100%;
    animation: moveDown 17s 0.5s infinite;
}

.channel-child11 {
    height: 100%;
    position: fixed;
    left: 430px;
    height: 100%;
    animation: moveDown 9s 0.5s infinite;
}
.channel-child12 {
    height: 100%;
    position: fixed;
    left: 600px;
    height: 100%;
    animation: moveDown 13s 0.5s infinite;
}

@keyframes moveDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

.button-back{
    grid-column: 1;
    grid-row: 3;
    margin-top: auto;
    text-align: center;

}

.button-next{
    grid-column: 3;
    grid-row: 3;
    margin-top: auto;
    text-align: center;

}

a{
    font-family: hero-new, sans-serif;
    font-weight: 700;
    color:black;
    font-style: bold;
    font-size: 30px;
    text-align:center;
    text-decoration: none;

}
    




