html {
  -webkit-font-smoothing: antialiased;
  font-family: 'Aladin', cursive;
  font-size: 1.5rem;
  background-color: black;
 /*  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;*/
}

/*@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
}*/

.container{
  display: flex;
  flex-direction: row;
  grid-column: 300px 900px;
  height:1000px;
}

.left{
  position:absolute;
  top:0px;
  left:0px;
  bottom: 0px;
  width:400px;
  background: #000000;
  overflow: auto;
  width:400px;
}
.leftTitle{
  float:left;
  width:400px;
  height: 40px;
  font-size: 45px;
  color: #ff0198;
  text-align: center;
  line-height: 40px;
  margin-top:70px;
  margin-left: 15px;
  
}
.leftContent{
  float:left;
  width:320px;
  color: #ffffff;
  margin-left:60px;
  margin-top: 50px;
  font-family: 'Cabin', sans-serif;
  font-size:18px;
  line-height: 1.5;
}

.center{
  position:absolute;
  top:70px;
  right:0px;
  left:440px;
  display: flex;
  grid-column: 2;
  justify-content: center;
}
.centerImg{
  max-width: 800px;
  max-height: 500px;
  margin-top: 20px;
  margin-right: 20px;
  
}
.centerEnter{
  position: absolute;
  width:100px;
  height:100px;
  bottom:0px;
  left:50%;
  margin-left: -50px;
  background: url(./png/enter.png);
  cursor: pointer;
}

.right{
  position:fixed;
  top:40px;
  right:20px;
  width:30px;
  height:30px;
  border-radius: 20px;
  background: #FFC907;
  text-align: center;
  line-height: 28px;
  color:#000000;
  cursor: pointer;
  font-family: 'Cabin', sans-serif;
  font-size:30px;
}






    